<<<<<<< HEAD
﻿@using Microsoft.AspNetCore.Identity
@using BookingTour.Models

@inject SignInManager<AppUser> SignInManager;
@inject UserManager<AppUser> UserManager;

@{

    
}
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">
                xin chao @UserManager.GetUserName(User)
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout">Đăng Xuất</a>
        </li>
    }else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
        </li>
    }
   
</ul>
=======
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
>>>>>>> 4c842c812f06e20ada81e43f658d8bca9ea4877d
