@model BookingTour.Models.Booking
<script src="https://cdn.tailwindcss.com"></script>
@{
    ViewData["Title"] = "Tạo mới đặt tour";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row ">
    <div class="col-md-12">
        <div class="bg-white p-6 rounded-xl ">
            <div class="flex justify-between items-center">
                <div class="font-bold text-[24px]">Tạo mới đặt chuyến du lịch</div>
            </div>
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="flex gap-5 mt-2">
                    <div class="w-[50%]">
                        <label asp-for="CustomerID" class="control-label"></label>
                        <input asp-for="CustomerID" class="block border-[2px] mt-1 focus:border-[green] rounded-md outline-none w-[100%] text-[16px] border-[#ccc] px-4 py-2" />
                        <span asp-validation-for="CustomerID" class="text-danger"></span>
                    </div>  
                    <div class="w-[50%]">
                        <label asp-for="TourID" class="control-label"></label>
                        <select asp-for="TourID" asp-items="ViewBag.TourID" class="block border-[2px] mt-1 focus:border-[green] rounded-md outline-none w-[100%] text-[16px] border-[#ccc] px-4 py-2" ></select>
                        <span asp-validation-for="TourID" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="flex gap-5 mt-2">
                    <div class="w-[50%]">
                        <label asp-for="NumberOfAdult" class="control-label"></label>
                        <input asp-for="NumberOfAdult" class="block border-[2px] mt-1 focus:border-[green] rounded-md outline-none w-[100%] text-[16px] border-[#ccc] px-4 py-2" />
                        <span asp-validation-for="NumberOfAdult" class="text-danger"></span>
                    </div>
                    <div class="w-[50%]">
                        <label asp-for="NumberOfChildren" class="control-label"></label>
                        <input asp-for="NumberOfChildren" class="block border-[2px] mt-1 focus:border-[green] rounded-md outline-none w-[100%] text-[16px] border-[#ccc] px-4 py-2" />
                        <span asp-validation-for="NumberOfChildren" class="text-danger"></span>
                    </div>

                </div>
                <div class="flex gap-5 mt-2">
                    <div class="w-[50%]">
                        <label asp-for="BookingDate" class="control-label"></label>
                        <input asp-for="BookingDate" class="block border-[2px] mt-1 focus:border-[green] rounded-md outline-none w-[100%] text-[16px] border-[#ccc] px-4 py-2" />
                        <span asp-validation-for="BookingDate" class="text-danger"></span>
                    </div>
                    <div class="w-[50%]">
                        <label asp-for="TotalAmount" class="control-label"></label>
                        <input asp-for="TotalAmount" class="block border-[2px] mt-1 focus:border-[green] rounded-md outline-none w-[100%] text-[16px] border-[#ccc] px-4 py-2" />
                        <span asp-validation-for="TotalAmount" class="text-danger"></span>
                    </div>
                </div>
                <div class="flex gap-5 mt-2">
                    <div class="w-[50%]">
                        <label asp-for="Status" class="control-label"></label>
                        <select asp-for="Status" asp-items="ViewBag.StatusID" class="block border-[2px] mt-1 focus:border-[green] rounded-md outline-none w-[100%] text-[16px] border-[#ccc] px-4 py-2" ></select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group mt-4 gap-3 flex">
                    <input type="submit" value="Tạo" class="btn btn-primary bg-[#007bff]" />

                    <a class="btn btn-primary" asp-action="Index">Quay lại</a>

                </div>
            </form>

        </div>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
